__pycache__/
*.py[cod]
*$py.class

# virtual env
venv/
env/
.venv/

.vscode/
.idea/

# env files
.env

# logs
*.log

# OS
.DS_Store

# build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# migrations
alembic/versions/*.pyc
